.navbar {
  position: fixed;
  width: 100%;
  background: #201f1e;
  padding: 0.5rem;
  text-align: center;
  color: rgba(102, 102, 102, 0.8);
}
.brand {
  color:#218b6b;
  font-weight: 600;
  font-family: 'Tektur';
}

.navbar p {
  margin: 0;
}

/* Additional styling for social media icons */
.navbar a {
  color: rgba(162, 162, 162, 0.8);
  text-decoration: none;
}

.navbar a:hover {
  color: #218b6b;
}

.navbar-text {
  color: #218b6b;
  font-size: small;
}


/* Tabs */
.custom-modal .nav-pills .nav-link.active,
.custom-modal .nav-pills .show > .nav-link {
  background-color: #218b6b;
  color: #201f1e;
}

.custom-modal .nav-pills .nav-link {
  color:#218b6b;
}

.custom-modal .nav-pills .nav-link:hover {
  background-color: #218b6b;
  color: #fff;
}

/* Modal Header */
.modal-header {
  border-bottom: none;
  background: #201f1e;
  padding: 1rem;
}



/* Modal Title */
.modal-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

/* Modal Body */
.modal-body {
  padding: 1.5rem;
  background: #f8f9fa; /* Change background color */
}

/* Form Inputs */
.form-control {
  margin-bottom: 1rem;
  border-color: #ced4da; /* Improve input border color */
}

/* Buttons */
.btn-primary {
  background-color: #2bce92;
  border: none;
}

.btn-primary:hover {
  background-color: #218b6b;
}

/* Close Button */
.close {
  color: #218b6b;
  font-size: 1.5rem;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #218b6b;
}
